passwords.py
.ipynb_checkpoints/passwords-checkpoint.py
.ipynb_checkpoints/README-checkpoint.md
__pycache__/passwords.cpython-37.pyc
.ipynb_checkpoints/spare_parts-checkpoint.ipynb
.ipynb_checkpoints/sunset_airplane_notification-checkpoint.ipynb
